<h1>Chapter 2 | Data Exercise #5 | <code>football</code>: Data Preparation</h1>

<p>5. Consider the <code>football</code>.</p>
<p>Assignments:</p>
<ul>
    <li>Create a table counting the number of seasons each team spent in the Premier League.</li>
    <li>List the teams that featured in all 11 seasons.</li>
    <li>List the teams that were in the League for one season.</li>
</ul>
<h2><b>1.</b> Load the data</h2>

In [1]:
import os
import sys
import warnings
import pandas as pd

warnings.filterwarnings("ignore")

In [2]:
# Current script folder
current_path = os.getcwd()
dirname = current_path.split("da_data_exercises")[0]

# Get location folders
data_in = f"{dirname}da_data_repo/football/clean/"
data_out = f"{dirname}da_data_exercises/ch02-preparing_data_for_analysis/data"
output = f"{dirname}da_data_exercises/ch02-preparing_data_for_analysis/data/output/"
func = f"{dirname}da_case_studies/ch00-tech_prep/"
sys.path.append(func)

In [3]:
epl_games = pd.read_csv(f"{data_in}epl_games.csv")

In [4]:
epl_games.sort_values(["team_home"])

,div,season,date,team_home,team_away,points_home,points_away,goals_home,goals_away
0,E0,2008,16aug2008,Arsenal,West Brom,3,0,1,0
3638,E0,2017,03jan2018,Arsenal,Chelsea,1,1,2,2
1900,E0,2013,17aug2013,Arsenal,Aston Villa,0,3,1,3
1014,E0,2010,12feb2011,Arsenal,Wolves,3,0,2,0
3939,E0,2018,02dec2018,Arsenal,Tottenham,3,0,4,2
...,...,...,...,...,...,...,...,...,...
1004,E0,2010,05feb2011,Wolves,Man United,3,0,2,1
489,E0,2009,07nov2009,Wolves,Arsenal,0,3,1,4
3928,E0,2018,25nov2018,Wolves,Huddersfield,0,3,0,2
553,E0,2009,20dec2009,Wolves,Burnley,3,0,2,0
1044,E0,2010,06mar2011,Wolves,Tottenham,1,1,3,3