<h1>Chapter 2 | Case Study A2 | <b>Finding a Good Deal among Hotels: Data Preparation</b></h1>
<p>In this notebook, I'll be dealing mostly with <b>duplicates</b> and <b>missing values</b> concerning the <code>hotels-vienna</code> dataset. The main goal is to first check whether the number of different ID variables, which replace the name of the hotels for confidentiality reasons, match the number of observations. Ideally, since we are dealing with a dataset in tidy data format, there should be only one observation per hotel. Then, we will check whether our dataset has a significant percentage of missing values and which of the variables present the highest relative proportion of missing values.</p>
<h2><b>PART A</b> | Read the data</h2>

In [1]:
import os
import sys
import warnings

import pandas as pd

warnings.filterwarnings("ignore")

In [22]:
pd.set_option("display.max_rows", 500)

In [2]:
# Current script folder
current_path = os.getcwd()
dirname = current_path.split("da_case_studies")[0]

#  Get location folders
data_in = f"{dirname}da_data_repo/hotels-vienna"
data_out = f"{dirname}da_case_studies/ch02-hotels_data_prep/"
output = f"{dirname}da_case_studies/ch02-hotels_data_prep/output/"
func = f"{dirname}da_case_studies/ch00-tech_prep/"
sys.path.append(func)

In [3]:
# Import the prewritten helper functions
from py_helper_functions import *

<p>In this exercise, we'll be using both the clean and the raw files separately. Let's get hold of both of them.</p>

In [4]:
data_in_clean = f"{data_in}/clean/"
data_in_raw = f"{data_in}/raw/"

<p>We can now read the data and start exploring it. Let's start with the clean data.</p>

In [5]:
data = pd.read_csv(f"{data_in_clean}hotels-vienna.csv")
data = data[
    [
        "hotel_id",
        "accommodation_type",
        "distance",
        "stars",
        "rating",
        "rating_count",
        "price",
    ]
]

<p>Let's first take a look at the accommodation types to differentiate between hotels, apartments, hostels, and so on.</p>

In [6]:
data['accommodation_type'].value_counts()

Hotel                  264
Apartment              124
Pension                 16
Guest House              8
Hostel                   6
Bed and breakfast        4
Apart-hotel              4
Vacation home Condo      2
Name: accommodation_type, dtype: int64

<p>Ok, now, by calling the <code>head()</code> function, we can reproduce Table 1.1 from the previous chapter, when this dataset was originally presented.</p>

<p><b>Table 1.1</b> List of observations</p>
<hr>

In [7]:
data.head()

   hotel_id accommodation_type  distance  stars  rating  rating_count  price
0     21894          Apartment       2.7    4.0     4.4          36.0     81
1     21897              Hotel       1.7    4.0     3.9         189.0     81
2     21901              Hotel       1.4    4.0     3.7          53.0     85
3     21902              Hotel       1.7    3.0     4.0          55.0     83
4     21903              Hotel       1.2    4.0     3.9          33.0     82

<p>Let's call the <code>describe()</code> function to reproduce Table 2.2 and observe the types of variables in our dataset.</p>
<p><b>Table 2.2</b> List of the variables in the <code>hotels-vienna</code> dataset</p>
<hr>

In [8]:
data.dtypes

hotel_id                int64
accommodation_type     object
distance              float64
stars                 float64
rating                float64
rating_count          float64
price                   int64
dtype: object

<p>Surely, the book goes beyond and clearly defines the specific type for each variable, but this will suffice for now. Let's get an example from the first observation.</p>

In [9]:
data.iloc[1]

hotel_id              21897
accommodation_type    Hotel
distance                1.7
stars                   4.0
rating                  3.9
rating_count          189.0
price                    81
Name: 1, dtype: object

<p>Ok, now, to reproduce Table 2.3, we can apply a lambda function as a filter, combined with pandas' <code>.loc</code>. Here, our goal is to get only the observations qualified as "Hotel" in the <code>accommodation_type</code> variable.</p>

In [10]:
data = data.loc[lambda x: x["accommodation_type"] == "Hotel"]

In [11]:
data.shape[0]

264

<p><b>Table 2.3</b> A simple tidy data table</p>
<hr>

In [12]:
data[["hotel_id", "price", "distance"]].head(3)

   hotel_id  price  distance
1     21897     81       1.7
2     21901     85       1.4
3     21902     83       1.7

<h2><b>PART B</b> | Repeat part of the cleaning code</h2>
<p>Now, following the authors' notes for this chapter, we'll replicate the code to understand their stance on data preparation.</p> 
<hr>
<h3>2.1 Import and prepare the data</h3>

In [13]:
data = pd.read_csv(f"{data_in_raw}hotelbookingdata-vienna.csv")

In [14]:
data.head()

,addresscountryname,city_actual,rating_reviewcount,center1distance,center1label,center2distance,center2label,neighbourhood,price,price_night,...,accommodationtype,guestreviewsrating,scarce_room,hotel_id,offer,offer_cat,year,month,weekend,holiday
0,Austria,Vienna,36.0,2.7 miles,City centre,4.4 miles,Donauturm,17. Hernals,81,price for 1 night,...,_ACCOM_TYPE@Apartment,4.4 /5,1,21894,1,15-50% offer,2017,11,0,0
1,Austria,Vienna,189.0,1.7 miles,City centre,3.8 miles,Donauturm,17. Hernals,81,price for 1 night,...,_ACCOM_TYPE@Hotel,3.9 /5,0,21897,1,1-15% offer,2017,11,0,0
2,Austria,Vienna,53.0,1.4 miles,City centre,2.5 miles,Donauturm,Alsergrund,85,price for 1 night,...,_ACCOM_TYPE@Hotel,3.7 /5,0,21901,1,15-50% offer,2017,11,0,0
3,Austria,Vienna,55.0,1.7 miles,City centre,2.5 miles,Donauturm,Alsergrund,83,price for 1 night,...,_ACCOM_TYPE@Hotel,4 /5,0,21902,1,15-50% offer,2017,11,0,0
4,Austria,Vienna,33.0,1.2 miles,City centre,2.8 miles,Donauturm,Alsergrund,82,price for 1 night,...,_ACCOM_TYPE@Hotel,3.9 /5,1,21903,1,15-50% offer,2017,11,0,0

<p>Here, we can notice the first problem: the variables <code>center1distance</code> and <code>center2distance</code>, that represent the distance to center from each hotel, were stored as <b>string</b> in miles, with one decimal. To our purposes, this is not what we need. We can transform them to numerical, so that they can be properly used.</p>

In [15]:
data["distance"] = data["center1distance"].str.split(" ").apply(lambda x: float(x[0]))
data["distance_alter"] = data["center2distance"].str.split(" ").apply(lambda x: float(x[0]))

<p>Ok, now, we have an issue with <code>accommodation_type</code>: all observations were stored with the prefix <code>_ACCOM_TYPE@</code>. We can remove this part, as it will make our data cleaner and easier to be analysed.</p>

In [16]:
data["accommodation_type"] = (
    data["accommodationtype"].str.split("@").apply(lambda x: x[1]).str.strip()
)

<p>Great! We can also clean the variable <code>price_night</code>. We are interested in getting hold of the number of nights for each observation.</p>

In [17]:
data["nnight"] = data["price_night"].str.split(" ").apply(lambda x: int(x[2]))

<p>Our next challenge concerns the variable <code>guestreviewsrating</code>. The rating was stored as a value between 0 and 5 over its total, that is, for instance, 4.5/5. We just the numerical variable of such rating, as the current format, a string, does not allow for further statistical analysis.</p>

In [18]:
# Split guestreviewsrating on the whitespace and get the value before it
data["rating"] = (
    data["guestreviewsrating"]
    .str.split(" ")
    .apply(lambda x: float(x[0]) if type(x) == list else None)
)

<p>Now, the authors developed a function to tabulate this variable. It returns data on the ratings in a tabulated form. Let's check it out.</p>

In [19]:
def tabulate(series, drop_missing=False):
    table = (
        pd.concat(
            [
                series.value_counts(dropna=drop_missing)
                .sort_index()
                .round(2)
                .rename("Freq. "),
                series.value_counts(normalize=True, dropna=drop_missing)
                .sort_index()
                .rename("Perc."),
            ],
            axis=1,
        )
        .assign(Cum=lambda x: x["Perc."].cumsum())
        .round(3)
    )
    return table

In [20]:
tabulate(data["rating"])

     Freq.   Perc.    Cum
1.0       3  0.007  0.007
2.0       4  0.009  0.016
2.2       4  0.009  0.026
2.5       1  0.002  0.028
2.7       2  0.005  0.033
3.0      12  0.028  0.060
3.2      14  0.033  0.093
3.4       6  0.014  0.107
3.5      30  0.070  0.177
3.7      43  0.100  0.277
3.9      27  0.063  0.340
4.0      61  0.142  0.481
4.1      47  0.109  0.591
4.3      36  0.084  0.674
4.4      31  0.072  0.747
4.5      44  0.102  0.849
4.6      10  0.023  0.872
4.8      12  0.028  0.900
4.9       2  0.005  0.905
5.0       6  0.014  0.919
NaN      35  0.081  1.000

<p>Very nice! We can get the frequency distribution of all ratings, from 1 to 5. Plus, we get to see the number and percentage of missing values as well. This table allows us to get some interesting insights:</p>
<ul>
    <li>There are 35 missing values, which represents 0.8% of the dataset.</li>
    <li>Around 60% of the hotels scored 4.1 points or below that.</li>
    <li>People tend to be nice with hotels but not that much: too low or too high ratings are less frequent, while between 3.5 and 4.5 points, reviews are more frequent.</p>
</ul>
<p>We can now apply the function to check <code>rating_reviewcount</code> and check the distribution of reviews.</p>

In [23]:
tabulate(data["rating_reviewcount"])

        Freq.   Perc.    Cum
1.0         15  0.035  0.035
2.0          9  0.021  0.056
3.0          9  0.021  0.077
4.0          1  0.002  0.079
5.0          5  0.012  0.091
6.0          8  0.019  0.109
7.0          2  0.005  0.114
8.0          2  0.005  0.119
9.0          3  0.007  0.126
10.0         2  0.005  0.130
11.0         5  0.012  0.142
12.0         3  0.007  0.149
13.0         4  0.009  0.158
14.0         2  0.005  0.163
15.0         4  0.009  0.172
16.0         5  0.012  0.184
17.0         2  0.005  0.188
18.0         3  0.007  0.195
19.0         1  0.002  0.198
20.0         1  0.002  0.200
21.0         2  0.005  0.205
22.0         2  0.005  0.209
23.0         2  0.005  0.214
24.0         1  0.002  0.216
25.0         3  0.007  0.223
26.0         3  0.007  0.230
27.0         3  0.007  0.237
28.0         2  0.005  0.242
29.0         1  0.002  0.244
30.0         3  0.007  0.251
33.0         2  0.005  0.256
34.0         4  0.009  0.265
35.0         2  0.005  0.270
36.0         2  0.005  0.274
38.0         3  0.007  0.281
39.0         2  0.005  0.286
40.0         1  0.002  0.288
41.0         1  0.002  0.291
43.0         1  0.002  0.293
44.0         3  0.007  0.300
45.0         3  0.007  0.307
47.0         2  0.005  0.312
49.0         1  0.002  0.314
50.0         2  0.005  0.319
51.0         2  0.005  0.323
52.0         1  0.002  0.326
53.0         2  0.005  0.330
54.0         3  0.007  0.337
55.0         2  0.005  0.342
56.0         1  0.002  0.344
57.0         3  0.007  0.351
58.0         1  0.002  0.353
63.0         1  0.002  0.356
65.0         4  0.009  0.365
66.0         1  0.002  0.367
67.0         1  0.002  0.370
69.0         5  0.012  0.381
70.0         1  0.002  0.384
71.0         1  0.002  0.386
72.0         2  0.005  0.391
73.0         2  0.005  0.395
74.0         1  0.002  0.398
75.0         2  0.005  0.402
76.0         1  0.002  0.405
77.0         6  0.014  0.419
78.0         3  0.007  0.426
79.0         2  0.005  0.430
80.0         3  0.007  0.437
81.0         4  0.009  0.447
82.0         1  0.002  0.449
83.0         2  0.005  0.453
84.0         4  0.009  0.463
85.0         1  0.002  0.465
88.0         1  0.002  0.467
89.0         1  0.002  0.470
90.0         2  0.005  0.474
91.0         1  0.002  0.477
92.0         2  0.005  0.481
94.0         1  0.002  0.484
95.0         2  0.005  0.488
97.0         1  0.002  0.491
98.0         2  0.005  0.495
100.0        2  0.005  0.500
102.0        1  0.002  0.502
104.0        1  0.002  0.505
105.0        1  0.002  0.507
108.0        1  0.002  0.509
109.0        2  0.005  0.514
110.0        1  0.002  0.516
112.0        3  0.007  0.523
113.0        2  0.005  0.528
114.0        1  0.002  0.530
115.0        2  0.005  0.535
122.0        3  0.007  0.542
123.0        2  0.005  0.547
124.0        2  0.005  0.551
125.0        2  0.005  0.556
128.0        1  0.002  0.558
134.0        1  0.002  0.560
136.0        2  0.005  0.565
137.0        1  0.002  0.567
139.0        1  0.002  0.570
140.0        3  0.007  0.577
141.0        1  0.002  0.579
142.0        1  0.002  0.581
144.0        3  0.007  0.588
145.0        1  0.002  0.591
147.0        1  0.002  0.593
148.0        1  0.002  0.595
150.0        2  0.005  0.600
151.0        1  0.002  0.602
152.0        2  0.005  0.607
153.0        1  0.002  0.609
156.0        1  0.002  0.612
158.0        1  0.002  0.614
160.0        2  0.005  0.619
161.0        3  0.007  0.626
162.0        1  0.002  0.628
163.0        1  0.002  0.630
168.0        2  0.005  0.635
169.0        3  0.007  0.642
170.0        1  0.002  0.644
171.0        2  0.005  0.649
173.0        1  0.002  0.651
175.0        1  0.002  0.653
178.0        1  0.002  0.656
181.0        2  0.005  0.660
183.0        2  0.005  0.665
184.0        2  0.005  0.670
186.0        1  0.002  0.672
189.0        1  0.002  0.674
193.0        3  0.007  0.681
194.0        2  0.005  0.686
203.0        2  0.005  0.691
208.0        1  0.002  0.693
210.0        1  0.002  0.695
211.0        1  0.002  0.698
212.0        1  0.002  0.700
225.0        1  0.002  0.702
230.0        2  0.005  0.707
239.0        1  0.002  0.709
240.0        1  0.002  0.712
242.0        1  0.002  0.714
247.0        1  0.002  0.716
248.0        1  0.002  0.719
249.0        1  0.002  0.721
250.0        1  0.002  0.723
251.0        1  0.002  0.726
253.0        1  0.002  0.728
254.0        1  0.002  0.730
258.0        2  0.005  0.735
264.0        1  0.002  0.737
267.0        2  0.005  0.742
271.0        1  0.002  0.744
275.0        1  0.002  0.747
276.0        1  0.002  0.749
278.0        1  0.002  0.751
280.0        1  0.002  0.753
281.0        1  0.002  0.756
291.0        1  0.002  0.758
293.0        1  0.002  0.760
298.0        1  0.002  0.763
303.0        2  0.005  0.767
305.0        1  0.002  0.770
307.0        1  0.002  0.772
308.0        1  0.002  0.774
310.0        1  0.002  0.777
313.0        1  0.002  0.779
314.0        1  0.002  0.781
316.0        1  0.002  0.784
317.0        1  0.002  0.786
319.0        1  0.002  0.788
320.0        1  0.002  0.791
323.0        1  0.002  0.793
328.0        1  0.002  0.795
330.0        1  0.002  0.798
333.0        1  0.002  0.800
334.0        1  0.002  0.802
336.0        1  0.002  0.805
340.0        1  0.002  0.807
342.0        1  0.002  0.809
354.0        1  0.002  0.812
359.0        2  0.005  0.816
362.0        1  0.002  0.819
366.0        2  0.005  0.823
374.0        1  0.002  0.826
386.0        1  0.002  0.828
388.0        1  0.002  0.830
391.0        1  0.002  0.833
404.0        2  0.005  0.837
422.0        1  0.002  0.840
426.0        1  0.002  0.842
441.0        1  0.002  0.844
461.0        1  0.002  0.847
467.0        1  0.002  0.849
468.0        1  0.002  0.851
484.0        1  0.002  0.853
493.0        1  0.002  0.856
497.0        1  0.002  0.858
503.0        1  0.002  0.860
505.0        1  0.002  0.863
512.0        1  0.002  0.865
525.0        2  0.005  0.870
527.0        1  0.002  0.872
530.0        1  0.002  0.874
531.0        1  0.002  0.877
544.0        1  0.002  0.879
564.0        1  0.002  0.881
572.0        1  0.002  0.884
581.0        1  0.002  0.886
599.0        1  0.002  0.888
603.0        1  0.002  0.891
626.0        1  0.002  0.893
637.0        1  0.002  0.895
650.0        1  0.002  0.898
653.0        1  0.002  0.900
703.0        1  0.002  0.902
765.0        1  0.002  0.905
821.0        1  0.002  0.907
910.0        1  0.002  0.909
923.0        1  0.002  0.912
985.0        1  0.002  0.914
1122.0       1  0.002  0.916
1541.0       1  0.002  0.919
NaN         35  0.081  1.000

<p>Now, if we'd generate a histogram of this frequency table, we'd get a skewed distribution, with a long tail to the right. Most hotels get very few reviews.</p>

In [24]:
data["rating_count"] = data["rating_reviewcount"].apply(float)
data["rating_count"].describe().to_frame().T

              count        mean         std  min   25%   50%    75%     max
rating_count  395.0  155.293671  191.296684  1.0  26.5  84.0  203.0  1541.0