<h1>Chapter 4 | Data Exercise #2 | <code>wms-management-survey</code> | Comparison and correlation</h1>
<h2>Introduction:</h2>
<p>In this notebook, you will find my notes and code for Chapter 5's <b>exercise 2</b> of the book <a href="https://gabors-data-analysis.com/">Data Analysis for Business, Economics, and Policy</a>, by Gábor Békés and Gábor Kézdi. The question was: 
<p>2. Using the <code>wms-management-survey</code> dataset:</p>
<p>Assignments:</p>
<ul>
    <li>Pick a country different from Mexico.</li>
    <li>Reproduce all figures and tables of our case study.</li>
    <li>Compare your results to what we found for Mexico.</li>
</ul>
<h2><b>1.</b> Load the data</h2>

In [28]:
import os
import sys
import warnings
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from plotnine import *
from mizani.formatters import percent_format

warnings.filterwarnings("ignore")
%matplotlib inline

In [29]:
# Increase number of returned rows in pandas
pd.set_option("display.max_rows", 500)

In [30]:
# Current script folder
current_path = os.getcwd()
dirname = current_path.split("da_data_exercises")[0]

# Get location folders
data_in = f"{dirname}da_data_repo/wms-management-survey/clean/"
data_out = f"{dirname}da_data_exercises/ch04-comparison_correlation/02-wms_management_ex1/data/clean/"
output = f"{dirname}da_data_exercises/ch04-comparison_correlation/02-wms_management_ex1/"
func = f"{dirname}da_case_studies/ch00-tech_prep/"
sys.path.append(func)

In [31]:
from py_helper_functions import *

In [73]:
df = pd.read_csv(f"{data_in}wms_da_textbook.csv")

In [74]:
df["country"].unique()

array(['United States', 'India', 'New Zealand', 'Australia', 'Argentina',
       'Brazil', 'Canada', 'Chile', 'China', 'Germany', 'Spain', 'France',
       'Northern Ireland', 'Great Britain', 'Greece',
       'Republic of Ireland', 'Italy', 'Japan', 'Mexico', 'Poland',
       'Portugal', 'Sweden', 'Singapore', 'Turkey'], dtype=object)

In [75]:
df.head()

,firmid,wave,cty,country,sic,management,operations,monitor,target,people,...,aa_196,aa_197,aa_198,aa_199,aa_200,aa_201,aa_202,aa_203,aa_204,aa_205
0,1,2004,us,United States,38.0,3.500000,3.0,3.6,3.6,3.500000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2006,us,United States,38.0,3.166667,5.0,3.8,2.6,2.500000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,2010,us,United States,38.0,3.000000,2.0,2.8,3.6,3.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2,2004,us,United States,28.0,4.666667,4.5,4.8,4.4,4.833333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2,2004,us,United States,28.0,4.444445,4.5,4.6,4.4,4.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<h3>1.1 Sample selection</h3>
<p>Let's pick a country with different proportions than Mexico yet let's apply the same exclusions made by the author, that is, filtering out firms with fewer than 100 employees and more than 5000 employees. We'll use the same year, 2013 - we'll choose <b>Brazil</b>.</p>

In [76]:
df = df.loc[
    lambda x: (x["country"] == "Brazil") &
              (x["wave"] == 2013) &
              (x["emp_firm"] >= 100) &
              (x["emp_firm"] <= 5000)
]

In [77]:
df["emp_firm"].describe()

count     506.000000
mean      682.561265
std       936.190571
min       100.000000
25%       181.000000
50%       343.500000
75%       717.250000
max      5000.000000
Name: emp_firm, dtype: float64

<h2>2. Visualizing the distribution of management score</h2>

In [78]:
df.loc[:, ["management", "emp_firm"]].describe()

       management     emp_firm
count  506.000000   506.000000
mean     2.734848   682.561265
std      0.588271   936.190571
min      1.055556   100.000000
25%      2.333333   181.000000
50%      2.777778   343.500000
75%      3.111111   717.250000
max      4.500000  5000.000000